h1 Slides#show
p Find me in app/views/slides/show.html.slim

<%= @slide.id %>

<head>
<style>

</style>
</head>

<div class="col-md-9">
	<div class="blockquote-box clearfix">
		<div class= "task-task-goal">
			<div class="square pull left">
				<img class="profile-photo" src="http://placehold.it/60/8e44ad/FFF&text=B">
			</div> 
			<h4>
				REMINDER
			</h4>
			<p>
				"John, you have a doctor's appointmet today at 5pm"
			</p>
		</div>
		<div class ="slides-task-items">
			<ul>
				<li>Get out of bed</li>
				<li>Gather medication list</li>
			</ul>
		</div>
	</div>
</div>

