<%= form_for(@slideshow) do |f| %>
	<div class="field">
		<%= f.label :phonenumber %>
		<%= f.text_field :phonenumber, :class => "form-control"  %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>