<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- Indicators -->
  <!--
  <ol class="carousel-indicators">
  	<% @slideshow.slides.each_with_index do |slide, index| %>
    	<li data-target="#carousel-example-generic" data-slide-to="<%= index %>" class="<%= index == 0 ? "active" : "" %>"></li>
    <% end %>
  </ol>
  -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
  	<% @slideshow.slides.each_with_index do |slide, index| %>
	<div class="item<%= index == 0 ? " active" : "" %>" data-timer="<%= slide.slide_length %>">
      <%= raw slide.slide_html %>
    </div>
    <% end %>
  </div>

  <!-- Controls -->
  <!--
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
  -->
</div>